<div class="heading-subheading">
  <h2>
    Reset Password
  </h2>
</div>

<ng-container
  *ngIf="progressState === 'emailStep'; then emailStep; else passwordStep"
>
</ng-container>

<ng-template #emailStep>
  <ng-container *ngIf="!resetEmailSentSuccessfully">

    <p>Enter the email associated with your account and we'll send an email with instructions to reset your password</p>

    <div class="form-controls full-width-controls">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Email</mat-label>
        <input
          [formControl]="email"
          matInput
          placeholder="Enter Your Email"
          autocomplete="off"
        />
        <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="email.invalid"
        (click)="onRequestReset()"
        mat-raised-button
        class="main-cta"
      >
        Send Instructions
      </button>
    </div>

  </ng-container>
  <ng-container *ngIf="resetEmailSentSuccessfully">
    <p>
      An email has been sent to you. Please check your inbox for instructions on how
      to reset your password.
    </p>
  </ng-container>
</ng-template>

<ng-template #passwordStep>
<!--  <ng-template #confirmPasswordTemplate let-form="form" let-firstCtrlName="firstCtrlName" let-secondCtrlName="secondCtrlName">-->
<!--    <input type="password" [formControl]="form.get(firstCtrlName)" placeholder="Enter new Password">-->
<!--    <input type="password" [formControl]="form.get(secondCtrlName)" placeholder="Confirm new Password">-->
<!--  </ng-template>-->
<!--  <gaushadhi-confirm-input [customConfirmPasswordTemplate]="confirmPasswordTemplate" [formCtrlName]="'newPassword'" [formControl]="newPassword" ></gaushadhi-confirm-input>-->

  <div class="form-controls full-width-controls">
    <gaushadhi-confirm-input [formCtrlName]="'newPassword'" [formControl]="newPassword"></gaushadhi-confirm-input>
    <button
      [disabled]="newPassword.invalid"
      (click)="onReset()"
      mat-raised-button
      class="main-cta"
    >
      Change Password
    </button>
  </div>

</ng-template>
