<ng-container
  *ngIf="progressState === 'emailStep'; then emailStep; else passwordStep"
>
</ng-container>

<ng-template #emailStep>
  <ng-container *ngIf="!resetEmailSentSuccessfully">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        [formControl]="email"
        matInput
        placeholder="Enter Your Email"
        autocomplete="off"
      />
      <mat-error
        *ngIf="email?.hasError('email') && !email?.hasError('required')"
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="email.invalid"
      (click)="onRequestReset()"
      mat-raised-button
      color="primary"
    >
      Next
    </button>
  </ng-container>
  <ng-container *ngIf="resetEmailSentSuccessfully">
    <p>
      Email sent successfully. Please check your inbox for instructions on how
      to reset your password.
    </p>
  </ng-container>
</ng-template>

<ng-template #passwordStep>
  <gaushadhi-confirm-password [formControl]="newPasswordForm" ></gaushadhi-confirm-password>
  <button
    [disabled]="newPasswordForm.invalid"
    (click)="onReset()"
    mat-raised-button
    color="primary"
  >
    Change Password
  </button>
</ng-template>
