:host {
  display: block;
}

p {
  color: var(--text-color-primary);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.main-cta {
  margin-top: 1rem !important;
  &:first-of-type {
    background-color: var(--primary-background);
    color: var(--text-color-primary)
  }
  &:first-of-type[disabled] {
    background-color: var(--disabled-btn-color);
  }
}
