:host {
  display: block;
}

p {
  color: var(--text-color-primary);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.main-cta {
  margin-top: 1rem !important;
  background-color: var(--primary-background);
  color: var(--text-color-primary)
}
