:host {
  display: grid;
  grid-template-columns: auto 144px 1fr auto;
  padding: 1rem;
  align-items: center;
}

.menu-btn {

}

.logo {
  width: 100%;
}

.auth-action, .product-types {
  display: none;
}

.action-bar {
  grid-column-start: 4;
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
  &:visited {
    color: var(--text-color-primary);
  }
}

@media screen and (min-width: 768px) {
  :host {
    grid-template-columns: 1rem 144px 1rem 1fr auto;
    grid-gap: 1rem;
  }

  .menu-btn {
    display: none;
  }

  .product-types {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--text-color-primary);
  }

  .action-bar {
    display: flex;
    gap: 1rem;
    grid-column-start: 5;
    .auth-action {
      display: inline;
    }
    button[mat-stroked-button] {
      background-color: var(--primary-background);
      font-weight: bold;
      height: 2.5rem;
      color: black;
    }
  }

  .logo {
    width: 100%;
    grid-column-start: 2;
  }

  .product-types {
    grid-column-start: 4;
  }
}
