<div class="popular-items">

  <div class="featured-item">

    <div class="col-1">

      <div class="popular-items__text">
        <h2>Popular Items</h2>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

      <div class="featured-item-description">
        Gaushadhi Panchgavya based handmade soap is prepared with natural and organic ingredients. The soap helps in preventing acne and other skin related ailments.
      </div>

    </div>
    <div class="col-2">

      <div class="item-card" *ngIf="featuredProduct && featuredProduct?.variants" [routerLink]="['store', 'products', featuredProduct.slug]">
        <div class="image-sale-row">
          <div class="featured-item-image">
            <img [src]="featuredProduct.featuredAsset.preview + '?preset=additional-n-cart'" alt="Featured Product">
          </div>
          <span class="sale-sticker">
          {{this.discountPercentage.toFixed(2)}}% off
          </span>
        </div>
        <div class="name-price-row">
          <h5>{{featuredProduct?.name}}</h5>
          <div class="price-rating-container">

            <p>{{ featuredProduct?.variants[0].priceWithTax | formatPrice:'INR':'symbol'}}</p>

            <div class="rating">
              <p>0 reviews</p>
              <mat-icon>
                star
              </mat-icon>
            </div>

          </div>
        </div>
        <a [routerLink]="['store', 'products', featuredProduct.slug]">
          <button mat-flat-button>
            Buy Now
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </a>
      </div>

    </div>
    <ng-container *ngIf="popularProducts && popularProducts.length">
      <ng-container  *ngFor="let product of popularProducts; let idx = index">
        <div class="item-card additional-items" *ngIf="idx < 3" [routerLink]="['store', 'products', product.slug]">
          <div class="image-sale-row">
            <div class="featured-item-image" *ngIf="product && product.featuredAsset">
              <img [src]="product.featuredAsset.preview + '?preset=additional-n-cart'" alt="Featured Product">
            </div>
          </div>
          <div class="name-price-row">
            <h5>{{product?.name}}</h5>
            <div class="price-rating-container">

              <p>{{product?.variants[0].priceWithTax | formatPrice:'INR':'symbol'}}</p>

              <div class="rating">
                <p>0 reviews</p>
                <mat-icon>
                  star
                </mat-icon>
              </div>

            </div>
          </div>
          <a [routerLink]="['store', 'products', product.slug]">
            <button mat-flat-button>
              Buy Now
              <mat-icon>arrow_right_alt</mat-icon>
            </button>
          </a>
        </div>

      </ng-container>

    </ng-container>
  </div>

</div>


