:host {
  display: block;
}

mat-checkbox {
  font-size: 0.8rem;
  color: #656565;
}

.terms-error {
  font-size: 0.8rem;
}

.main-cta {
  margin-top: 1rem !important;
  background-color: var(--primary-background);
}
