<form [formGroup]="registrationForm" (ngSubmit)="onRegister()" autocomplete="off">

  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" matInput placeholder="Enter Your First Name" autocomplete="off">
    <mat-error *ngIf="firstName?.hasError('required')">
      Firstname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input formControlName="lastName" matInput placeholder="Enter Your Last Name" autocomplete="off">
    <mat-error *ngIf="lastName?.hasError('required')">
      Lastname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Enter Your Email" autocomplete="on">
    <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input formControlName="phoneNumber" matInput placeholder="Enter Your Phone Number" autocomplete="off">
    <mat-error *ngIf="phoneNumber?.hasError('pattern')">
      Please enter a valid phone number.
    </mat-error>
  </mat-form-field>

  <div formGroupName="passwordGroup">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput placeholder="Enter Your Password" autocomplete="off">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" matInput placeholder="Confirm Password" [errorStateMatcher]="passwordEqualityMatcher" autocomplete="off">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        Password didn't <strong>match</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <button [disabled]="registrationForm.invalid" type="submit" mat-raised-button color="primary">Register</button>


</form>
