<header>
  <div class="hero__content">
    <h1>Gaumata Beyond Milk</h1>
    <p>Buy 100% natural Panchgavya products at <strong>Gaushadhi</strong> because milk is not the only thing Gaumata offers.</p>
    <div class="hero-actions">
      <a [routerLink]="['store', 'products']" tabindex="-1">
        <button mat-raised-button>
          Shop Now
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </a>
      <a href="https://en.wikipedia.org/wiki/Panchagavya" target="_blank" tabindex="-1">
        <button mat-flat-button>
          What's Panchgavya ?
        </button>
      </a>
    </div>
  </div>
  <img src="assets/images/cow_hero_3_transparent.svg" alt="Cow Hero Image">
</header>
