header {
  display: grid;
  grid-template-areas: "hero";
  align-items: center;
  height: 75vh;
  max-height: 600px;
  //background-color: mix(#fff, $primary, 97%);

  > * {
    grid-area: hero;
  }

  img {
    //object-fit: cover;
    object-position: 5vw ;
    height: min(75vh, 600px);
    // Chrome no longer preventing growing beyond
    // the header height with just the following
    // height: 100%;
    width: 60%;
    justify-self: end;
    transition: 180ms width ease-in;

    @media (min-width: 60rem) {
      width: 40%;
    }
  }

  .hero__content {
    margin: 1rem 0 1rem 5%;
    max-width: 50%;
    min-width: 30ch;
    z-index: 1;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 4rem;
      color: #383844;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      color: #8b8c95;
      strong {
        font-weight: 800;
        color: #a37c2c; //Logo Color
      }
    }

    .hero-actions {
      display: flex;
      gap: 1rem;
      button {
        padding: 0.5rem 2rem;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1rem;
      }
      button[mat-raised-button] {
        background-color: var(--primary-background);
      }
    }
  }
}
