<input type="text" class="searchbar">
<p *ngIf="true" class="search-result-label">Search result for <span>"Soaps"</span></p>
<div class="sort-container">
  <h4>Sort</h4>
  <div class="sort-button">Popularity</div>
  <div class="sort-button">Price: Low To High</div>
  <div class="sort-button">Price: High To Low</div>
</div>
<div class="product-grid">
  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>

  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>

  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>

  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>

  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>

  <div class="product">
    <div class="wishlist-button">
      <mat-icon>favorite</mat-icon>
    </div>
    <img src="../../../../assets/images/gaushadhi-soap.png" alt="Gaushadhi-Soap">
    <h4>Gaushadhi Bathing Soap</h4>
    <div class="rating-star-container">
      <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
        {{i > 3 ? 'star_outline': 'star'}}
      </mat-icon>
      <p class="rating">{{'4.5'}}</p>
      <p class="no-of-ratings">({{40}})</p>
    </div>
    <div class="action-bar">
      <div class="price-container">
        <p>Price</p>
        <p>{{100 | currency: 'INR': 'symbol'}}</p>
      </div>
      <div class="add-to-cart-btn">
        Add to cart
      </div>
    </div>
  </div>
</div>
