:host {
  padding-left: 1rem;
}

div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
}

input {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  padding-left: 1rem;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  font-size: 0.9rem;
  &:focus {
    outline: none;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem;
  max-width: max-content;
  padding: 0 2rem;
  justify-self: end;
  background-color: #eee;
  grid-row-start: 1;
  grid-column-start: 2;
}

@media screen and (min-width: 768px) {
  :host {
    padding-left: unset;
  }
}
