<div class="heading-container">
  <h4>PRICE DETAILS</h4>
</div>
<div class="breakdown-container">
  <div class="breakdown-item">
    <p>Price (3 items)</p>
    <p>{{'500' | currency : 'INR':'symbol'}}</p>
  </div>
  <div class="breakdown-item">
    <p>Discounts Applied</p>
    <p class="discount">- {{'100' | currency : 'INR':'symbol'}}</p>
  </div>
  <div class="breakdown-item">
    <p>Shipping Charges</p>
    <p>{{'50' | currency : 'INR':'symbol'}}</p>
  </div>
  <hr>
  <div class="breakdown-item total">
    <p>Order Total</p>
    <p>{{'450' | currency : 'INR':'symbol'}}</p>
  </div>
</div>
