<p class="heading">Change Password</p>
<form [formGroup]="changePasswordGroup" (ngSubmit)="onChangePassword()">
  <div class="form-controls">
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        placeholder="Enter Current Password"
        autocomplete="off"
        formControlName="currentPassword"
        [type]="hideCurrentPassword ? 'password' : 'text'"
      />
      <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
        <mat-icon>{{
          hideCurrentPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordGroup.get('currentPassword')?.hasError('required')">
        Current password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <gaushadhi-confirm-input formControlName="newPassword"></gaushadhi-confirm-input>

  </div>
  <button class="main-cta" mat-raised-button color="primary" [disabled]="changePasswordGroup.pristine || changePasswordGroup.invalid">CHANGE PASSWORD</button>
</form>
