<div class="content">
  <h3>My Cart</h3>
  <div class="cart-items-container">
    <div class="cart-item" *ngFor="let item of items">
      <div class="img-container">
        <img [src]=item.image alt="Gaushadhi-Soap">
      </div>
      <h4 class="variant-name">{{item.variantName}}</h4>
      <p class="brand-name">{{item.brandName}}</p>
      <div class="price-container">
        <p class="strikethrough-price">{{(item.strikethroughPrice * item.quantity).toString() | currency: 'INR' : 'symbol'}}</p>
        <p class="price">{{(item.price * item.quantity) | currency : 'INR': 'symbol'}}</p>
      </div>
      <div class="item-action-bar">

        <button (click)="item.quantity = item.quantity > 1 ? item.quantity - 1 : item.quantity" mat-button>
          <mat-icon>remove</mat-icon>
        </button>

        <label>{{item.quantity}}</label>

        <button (click)="item.quantity = item.quantity + 1" mat-button>
          <mat-icon>add</mat-icon>
        </button>

        <button mat-button class="remove-item">
          <mat-icon>delete</mat-icon>
          <label>Remove</label>
        </button>

      </div>
    </div>
  </div>

</div>

<gaushadhi-apply-coupon></gaushadhi-apply-coupon>
<gaushadhi-order-price-breakdown #scrollPoint></gaushadhi-order-price-breakdown>

<div class="place-order-bar">
  <div (click)="scrollToProductDetails()" class="price-details">
    <p>{{'579' | currency : 'INR' : 'symbol'}}</p>
    <p> View price details</p>
  </div>
  <div class="place-order-btn">
    <button mat-raised-button [routerLink]="['../../checkout/shipping-info']">
      {{'Place Order'| uppercase}}
    </button>
  </div>
</div>
