<div class="popular-items">

  <div class="featured-item">

    <div class="col-1">

      <div class="popular-items__text">
        <h2>Popular Items</h2>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

      <div class="featured-item-description">
        Gaushadhi Panchgavya based handmade soap is prepared with natural and organic ingredients. The soap helps in preventing acne and other skin related ailments.
      </div>

    </div>
    <div class="col-2">

      <div class="item-card">
        <div class="image-sale-row">
          <div class="featured-item-image">
            <img src="assets/images/Soap_featured.png" alt="Featured Product">
          </div>
          <span class="sale-sticker">
          10% off
          </span>
        </div>
        <div class="name-price-row">
          <h5>Gaushadhi Bathing Soap</h5>
          <div class="price-rating-container">

            <p>{{'10000.00' | formatPrice:'INR':'symbol'}}</p>

            <div class="rating">
              <p>0</p>
              <mat-icon>
                star
              </mat-icon>
            </div>

          </div>
        </div>
        <a [routerLink]="['']">
          <button mat-flat-button>
            Buy Now
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </a>
      </div>

    </div>

  </div>

  <div class="additional-items">
    <div class="item-card">
      <div class="image-sale-row">
        <div class="featured-item-image">
          <img src="assets/images/Soap_featured.png" alt="Featured Product">
        </div>
      </div>
      <div class="name-price-row">
        <h5>Gaushadhi Bathing Soap</h5>
        <div class="price-rating-container">

          <p>{{'10000.00' | formatPrice:'INR':'symbol'}}</p>

          <div class="rating">
            <p>0</p>
            <mat-icon>
              star
            </mat-icon>
          </div>

        </div>
      </div>
      <a [routerLink]="['']">
        <button mat-flat-button>
          Buy Now
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </a>
    </div>
    <div class="item-card">
      <div class="image-sale-row">
        <div class="featured-item-image">
          <img src="assets/images/Soap_featured.png" alt="Featured Product">
        </div>
      </div>
      <div class="name-price-row">
        <h5>Gaushadhi Bathing Soap</h5>
        <div class="price-rating-container">

          <p>{{'10000.00' | formatPrice:'INR':'symbol'}}</p>

          <div class="rating">
            <p>0</p>
            <mat-icon>
              star
            </mat-icon>
          </div>

        </div>
      </div>
      <a [routerLink]="['']">
        <button mat-flat-button>
          Buy Now
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </a>
    </div>
    <div class="item-card">
      <div class="image-sale-row">
        <div class="featured-item-image">
          <img src="assets/images/Soap_featured.png" alt="Featured Product">
        </div>
      </div>
      <div class="name-price-row">
        <h5>Gaushadhi Bathing Soap</h5>
        <div class="price-rating-container">

          <p>{{'10000.00' | formatPrice:'INR':'symbol'}}</p>

          <div class="rating">
            <p>0</p>
            <mat-icon>
              star
            </mat-icon>
          </div>

        </div>
      </div>
      <a [routerLink]="['']">
        <button mat-flat-button>
          Buy Now
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </a>
    </div>
  </div>

</div>


