:host {
  color: var(--text-color-primary);
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}

//hr {
//  border-bottom: 2px solid scale-color($color: #{var(--text-color-primary)}), $lightness: 80%);
//  margin: 0 0.5rem;
//}

div {
  padding: 0.5rem;
}

.account-action {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-name {
  font-weight: bold;
}
