<p class="heading">Profile Information</p>
<form [formGroup]="userProfileForm" *ngIf="userProfileForm" (ngSubmit)="onProfileFormSubmit()">
  <section>
    <div class="section-header">
      Personal Information
    </div>

    <div class="form-controls">

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="Enter First Name"
          formControlName="firstName"
          autocomplete="off"
        />
              <mat-error *ngIf="userProfileForm.get('firstName')?.hasError('required')">
                First Name is <strong>required</strong>
              </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Enter Last Name"
          autocomplete="off"
          formControlName="lastName"
        />
        <mat-error *ngIf="userProfileForm.get('lastName')?.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <select formControlName="title">
        <option value="" disabled>Title</option>
        <option>Mr.</option>
        <option>Ms.</option>
        <option>Mrs.</option>
      </select>

    </div>

  </section>
  <section>
    <div class="section-header">
      Login Information
    </div>
    <div class="form-controls">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="Enter Phone Number"
          autocomplete="off"
          formControlName="phoneNumber"
        />
        <mat-error *ngIf="userProfileForm.get('phoneNumber')?.hasError('required')">
          Phone Number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userProfileForm.get('phoneNumber')?.hasError('pattern')">
          Phone Number is <strong>invalid</strong>
        </mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail Address</mat-label>
        <input
          matInput
          placeholder="Enter Email Address"
          autocomplete="off"
          formControlName="emailAddress"
        />

      </mat-form-field>
    </div>
  </section>
  <button class="main-cta" mat-raised-button color="primary" [disabled]="userProfileForm.pristine || userProfileForm.invalid">SAVE PROFILE</button>
</form>





