<footer>
  <div class="company-description">
    <img src="assets/images/logo-brown.png" alt="Gaushadhi-logo">
    <p>Gaushadhi products are handmade products made up of Panchgavya technique.</p>
    <p>Panchgavya is a sanskrit word means mixture of five different things obtained from cows. These things are cow’s dung, urine, milk, curd and ghee. </p>
<!--    <p>All the five products possess medicinal properties and are used for the medicinal purpose singly or in combination with some other herbs. Ancient literatures like bhel sanhita, kashyap sanhita, charak sanhita, sushrut sanhita also describes the benefits of products obtained from Panchgavya</p>-->
  </div>

  <div class="company-links">
    <h3>Company</h3>
    <a [routerLink]="['about']">About</a>
<!--    <a href="https://blog.gaushadhi.com">Blog</a>-->
    <a [routerLink]="['terms-and-conditions']">Terms & Conditions</a>
    <a [routerLink]="['refund-policy']">Refund Policy</a>
<!--    <a [routerLink]="['privacy-policy']">Privacy Policy</a>-->
  </div>

  <div class="connect-with-us">
    <h3>Connect with us</h3>
    <div class="contact-method">
      <mat-icon>phone</mat-icon>
      <p>+91-9136181685</p>
    </div>
    <div class="contact-method">
      <mat-icon>email</mat-icon>
      <p>support@gaushadhi.com</p>
    </div>
    <div class="contact-method">
      <mat-icon>location_on</mat-icon>
      <div class="address-container">
        <p>C-19/A Rajeev Nagar Ph-2</p>
        <p>New Delhi - 110086</p>
        <p>India</p>
      </div>
    </div>
  </div>
</footer>
