<footer>
  <div class="company-description">
    <img src="assets/images/logo.png" alt="Gaushadhi-logo">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at aut deserunt dicta ducimus eligendi eveniet facilis, incidunt ipsam possimus quo suscipit unde, ut voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, in maiores minima non reprehenderit vero.</p>
  </div>

  <div class="company-links">
    <h3>Company</h3>
    <a>About</a>
    <a>Blog</a>
    <a>Terms & Conditions</a>
  </div>

  <div class="connect-with-us">
    <h3>Connect with us</h3>
    <div class="contact-method">
      <mat-icon>phone</mat-icon>
      <p>+91-9136181685</p>
    </div>
    <div class="contact-method">
      <mat-icon>email</mat-icon>
      <p>support@gaushadhi.com</p>
    </div>
    <div class="contact-method">
      <mat-icon>location_on</mat-icon>
      <div class="address-container">
        <p>C-19/A Rajeev Nagar Ph-2</p>
        <p>New Delhi - 110086</p>
        <p>India</p>
      </div>
    </div>
  </div>
</footer>
