<ng-container *ngIf="orderId">
  <div class="heading">
    <mat-icon>check_circle</mat-icon>
    <p>Order Placed Successfully</p>
  </div>
  <h4>Order Tacking Number: {{orderId}}</h4>
  <div class="img-container">
    <img src="../../../../assets/images/order-placed-success.png" alt="order-placed-success">
  </div>
<!--  <h3>-->
<!--    Expected Arrival within-->
<!--  </h3>-->
<!--  <p class="arrival-date">-->
<!--    2-5 days-->
<!--  </p>-->
  <button mat-raised-button class="manage-order-btn" [routerLink]="['../../account/orders']">
    View or Manage Orders
  </button>
</ng-container>

