<p>address works!</p>

<div
  *ngFor="let address of customerAddresses"
>
  <gaushadhi-address-card [address]="address"></gaushadhi-address-card>
  <button
    (click)="onDeleteAddress(address.id)"
    mat-raised-button
    color="primary"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    (click)="onEditAddress(address.id)"
    mat-raised-button
    color="primary"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>

<gaushadhi-address-form [formControl]="addressForm"></gaushadhi-address-form>

  <button *ngIf="!editMode"
    [disabled]="addressForm.invalid"
    (click)="onAddNewAddress()"
    mat-raised-button
    color="primary"
  >
    Add Address
  </button>
  <button *ngIf="editMode"
    type="button"
    [disabled]="addressForm.invalid"
    (click)="onSaveAddress()"
    mat-raised-button
    color="primary"
  >
    Save
  </button>
  <button *ngIf="editMode"
    (click)="onCancelAddressEdit()"
    mat-raised-button
    color="primary"
  >
    Cancel
  </button>
