.heading {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.address-cards-container {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media screen and (min-width: 768px) {
  .address-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gaushadhi-address-card {
      min-height: 250px;
    }
  }
}
