:host {
  position: relative;
  height: 80%;
  width: auto;
}

.previous-container, .next-container {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3rem;
  height: 80%;
}

.previous-container {
  left: 0;
}

.next-container {
  right: 0;
}

.previous-container:hover, .next-container:hover {
  background-color: #252d31;
  cursor: pointer;
  opacity: 0.5;
}

.next-btn,
.previous-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  mat-icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    color: white;
  }
}

.next-btn:hover,
.previous-btn:hover {
  cursor: pointer;
}

.previous-btn {
  left: 0;
}
.next-btn {
  right: 0;
}

.carousel-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh;
  .image-container {
    grid-row-start: 1;
    grid-column-start: 1;
    opacity: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.image-indicator-container {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.image-indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 0.3rem 0 0.3rem;
  background-color: #b2b2b2;
}

.current-image-indicator {
  background-color: white;
}

.fade-in-image {
  animation: fadeIn 1.5s forwards;
  -webkit-animation: fadeIn 1.5s forwards;
  -moz-animation: fadeIn 1.5s forwards;
  -o-animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}

.first-load {
  opacity: 1;
}
