<label id="example-radio-group-label">Select Shipping Address</label>
<br>
<mat-radio-group
  class="example-radio-group"
  [formControl]="selectedShipment">
  <mat-radio-button class="example-radio-button" *ngFor="let method of eligibleShipmentMethods" [value]="method.id" >
    {{method.name}}
    {{method.price / 100 | currency: 'INR'}}
  </mat-radio-button>
</mat-radio-group>
<br>
<br>

<button [disabled]="!this.selectedShipment.valid"
        (click)="onNext()"
        mat-raised-button
        color="primary"
>
  Next
</button>
