<div class="order-id">
  <p>Orders / </p>
  <p>#15</p>
</div>

<div class="content">
  <div class="order-breakdown">
    <div class="order-items">
      <div class="order-item">
        <img src="../../../../assets/images/gaushadhi-soap.png" alt="product-image">
        <div class="product-info">
          <p>Gaushadhi Bathing Soap</p>
          <p>Normal (BLK-1001-SKU)</p>
        </div>
        <p class="item-price">2 x {{'530' | currency : 'INR' : 'symbol'}}</p>
      </div>
      <div class="order-item">
        <img src="../../../../assets/images/gaushadhi-soap.png" alt="product-image">
        <div class="product-info">
          <p>Gaushadhi Bathing Soap</p>
          <p>Normal (BLK-1001-SKU)</p>
        </div>
        <p class="item-price">2 x {{'530' | currency : 'INR' : 'symbol'}}</p>
      </div>
    </div>
    <div class="total-section">
      <div class="shipping-type">
        <mat-icon>
          local_shipping
        </mat-icon>
        <p>
          Standard Shipping
        </p>
        <p class="weight">
          Weight: 0.3 Kg
        </p>
      </div>
      <div class="total-breakdown">
        <div class="breakdown-item">
          <p>Subtotal</p>
          <p>{{'179.79' | currency: 'INR' : 'symbol'}}</p>
        </div>
        <div class="breakdown-item">
          <p>Discount(FREE 100)</p>
          <p>- {{'100.79' | currency: 'INR' : 'symbol'}}</p>
        </div>
        <div class="breakdown-item">
          <p>Shipping</p>
          <p>{{'179.79' | currency: 'INR' : 'symbol'}}</p>
        </div>
        <div class="breakdown-item">
          <p>Tax</p>
          <p>{{'50' | currency: 'INR' : 'symbol'}}</p>
        </div>
      </div>
    </div>
    <div class="breakdown-item total">
      <p>TOTAL</p>
      <p>{{'750.79' | currency: 'INR' : 'symbol'}}</p>
    </div>
  </div>

  <div class="shipping-address">
    <div class="header">
      <p>Shipping & Billing Address</p>
    </div>
    <p>Pawan Sharma</p>
    <p class="address">C-19/A Rajeev Nagar Ph-2</p>
    <p class="address">New Delhi - 110086</p>
    <p class="address">IN</p>
    <div class="phone-email">
      <mat-icon>phone</mat-icon>
      <p>7290822269</p>
    </div>
    <div class="phone-email">
      <mat-icon>email</mat-icon>
      <p>pawan.s1998@gmail.com</p>
    </div>

  </div>
</div>


