<ng-container
  *ngIf="progressState === 'newEmailStep'; then newEmailStep; else verificationStep"
>
</ng-container>

<ng-template #newEmailStep>
  <ng-container *ngIf="!changeEmailSentSuccessfully">
    <form [formGroup]="requestChangeEmailGroup" (ngSubmit)="onRequestChange()" autocomplete="off">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          matInput
          placeholder="Enter Your Password"
          autocomplete="off"
        />
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
        <mat-error *ngIf="requestChangeEmailGroup.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <gaushadhi-confirm-input formControlName="newEmailAddress"></gaushadhi-confirm-input>
      <button
        [disabled]="requestChangeEmailGroup.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Change Email Address
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="changeEmailSentSuccessfully">
    <p>
      Email sent successfully. Please check your inbox for instructions on how
      to update your email address.
    </p>
  </ng-container>
</ng-template>

<ng-template #verificationStep>
  <p>
    {{updateText}}
  </p>
</ng-template>
