<p class="heading">Order history</p>
<p class="sub-heading">3 orders</p>
<div class="order-card">
  <div class="status-line">
    <div class="status-indicator">
    </div>
    <p>Delivered on 23 June</p>
  </div>
  <div class="order-items">
    <div class="order-item">
      <div class="img-container">
        <img src="https://source.unsplash.com/random/75x75" alt="order-item-image">
      </div>
      <h4>Microsoft Keyboard Cover for surface Go</h4>
    </div>
    <div class="order-item">
      <div class="img-container">
        <img src="https://source.unsplash.com/random/75x75" alt="order-item-image">
      </div>
      <h4>Microsoft Keyboard Cover for surface Go</h4>
    </div>
  </div>
  <div class="actions">
    <button mat-button class="track-order-btn">Track order</button>
    <button mat-button class="boundary-only-button">View Order Details</button>
    <button mat-button class="ghost-button">Get Invoice</button>
    <button mat-button class="ghost-button">Edit Order</button>
  </div>
</div>
<div class="order-card">
  <div class="status-line">
    <div class="status-indicator">
    </div>
    <p>Delivered on 23 June</p>
  </div>
  <div class="order-items">
    <div class="order-item">
      <div class="img-container">
        <img src="https://source.unsplash.com/random/75x75" alt="order-item-image">
      </div>
      <h4>Microsoft Keyboard Cover for surface Go</h4>
    </div>
    <div class="order-item">
      <div class="img-container">
        <img src="https://source.unsplash.com/random/75x75" alt="order-item-image">
      </div>
      <h4>Microsoft Keyboard Cover for surface Go</h4>
    </div>
  </div>
  <div class="actions">
    <button mat-button class="track-order-btn">Track order</button>
    <button mat-button class="boundary-only-button">View Order Details</button>
    <button mat-button class="ghost-button">Get Invoice</button>
    <button mat-button class="ghost-button">Edit Order</button>
  </div>
</div>

