:host {
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 70px;
  background-color: var(--tertiary-background);
}

gaushadhi-checkout-stage-indicator {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  grid-column-start: 1;
  grid-column-end: -1;
}

gaushadhi-apply-coupon {
  margin-right: 0.5rem;
}

.checkout-cta-btn {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  bottom: 0;
  height: 75px;
  background-color: var(--gray-background);
  align-items: center;
  grid-column: 1;
  .price-details {
    display: flex;
    flex-direction: column;
    p:nth-child(1) {
      font-size: 1.2rem;
    }
    p:nth-child(2) {
      color: blue;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .place-order-btn {
    button {
      &:first-of-type {
        background-color: var(--primary-background);
        color: var(--text-color-primary)
      }
      &:first-of-type[disabled] {
        background-color: var(--disabled-btn-color);
      }
    }
  }
}

::ng-deep .loading-small {
  display: flex;
  align-items: center;
  justify-content: center;
  mat-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    ::ng-deep svg {
      width: 50px !important;
      height: 50px !important;
      position: unset;
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 0;
    gaushadhi-order-price-breakdown,
    .content {
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
    }
    .dynamic-outlet {
      height: 100%;
      grid-column: 1;
      grid-row: 2 / span 4;
      padding: 1.5rem 0 0 1rem;
    }
    .full-width {
      grid-column-end: -1;
    }
    gaushadhi-order-price-breakdown {
      margin: 1.5rem 1rem 0 0;
    }
    gaushadhi-apply-coupon {
      grid-row: 3;
      grid-column: 2;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .checkout-cta-btn {
      justify-content: flex-end;
      box-shadow: 0 -2px 6px #918787;
      .price-details {
        display: none;
      }
      .place-order-btn {
        button {
          font-size: 1rem;
          padding: 0.5rem 2rem;
          width: 250px;
        }
      }
    }
  }
}
