<div class="slider-header">
  <h1>Featured Products</h1>
  <p>View all products</p>
</div>

<div class="slider-container-parent">
  <div class="left-slider" tabindex="0" (click)="onLeftPress()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>

  <ul class="slider-container" #fpContainer>
    <li class="featured-product" *ngFor="let featuredProduct of featuredProducts">
      <img [src]=featuredProduct.imageSource alt="soap">
      <p class="brand-name">{{featuredProduct.brandName | uppercase}}</p>
      <p class="variant-name">{{featuredProduct.variantName}}</p>
      <div class="prices-container">
        <p class="current-price">{{featuredProduct.currentPrice | currency:'INR':'symbol-narrow'}}</p>
        <p class="strikethrough-price">{{featuredProduct.strikethroughPrice | currency:'INR':'symbol-narrow'}}</p>
      </div>
      <div class="actions-container">
        <div class="add-to-cart" tabindex="0">
          Add To Cart
        </div>
        <div class="add-to-wishlist" tabindex="0">
          <mat-icon>favorite_border</mat-icon>
        </div>
      </div>
      <div class="rating-star-container">
        <mat-icon *ngFor="let i of [1,2,3,4,5]; let idx = index">
          {{i > featuredProduct.ratingStars ? 'star_outline': 'star'}}
        </mat-icon>
        <p class="rating">{{featuredProduct.rating}}</p>
        <p class="no-of-ratings">({{featuredProduct.noOfRatings}})</p>
      </div>
      <div class="stock-indicator-container" [ngClass]="{
        'stock-bar-75': featuredProduct.inStock >= 32,
        'stock-bar-50': featuredProduct.inStock > 8 && featuredProduct.inStock < 32,
        'stock-bar-25': featuredProduct.inStock <= 8
      }">
        <div class="stock-bar-total">
          <div class="stock-bar-fill"></div>
        </div>
        <div class="stock-text">
          {{featuredProduct.inStock}} available in stock
        </div>
      </div>
    </li>
  </ul>

  <div class="right-slider" tabindex="0" (click)="onRightPress()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>
